* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/*
1. vi tri
2. kich thuoc
3. mau sac
4. kieu dang
 */

.clear {
    clear: both;
}

#main {

}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 46.5px;
    background-color: black;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav > li {
     display: inline-block;
}

#nav li {
    position: relative;
    list-style-type: none;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li:hover .subnav {
    display: block;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: black !important;
    background-color: #ccc !important;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    min-width: 160px;
}

#nav .subnav a {
    color: black;
    padding: 0 16px;
    line-height: 38px;
}

 #nav .nav-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
}

#header .search-btn:hover {
    background-color: #f44336 !important;
    cursor: pointer;
}

#header .search-icon {
    color: white;
    font-size: 20px;
    line-height: 46.5px;
    padding: 0 21px;
}

#slider {
    position: relative;
    margin-top: 46.5px;      
    padding-top: 50%; 
    background: url(/assets/img/slider/slider1.jpg) top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    text-align: center;
    width: 100%;
    color: white;
    display: inline-block;
}

#slider .text-content .slider-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-content .slider-text {
    font-size: 15px;
    margin-top: 25px;
}

#content {
    
}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .content-section .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 4px;
}

#content .content-section .section-sub-heading {
    text-align: center;
    font-style: italic;
    font-size: 15px;
    margin: 15px 0;
    opacity: 0.6;
}

#content .content-section .about-section {
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 47px;
    margin-bottom: 32px;
}

#content .member-list .member {
    float: left;
    width: 33.333333%;
    text-align: center;
}

#content .member-list .member-p {
    font-size: 15px;
    margin-bottom: 15px;
}

#content .member-list .member-image {
    width: 154px;
    border-radius: 4px;
}

#content .tour-section {
    background-color: black;
}

#content .tour-section .section-heading {
    color: white;
}

#content .tour-section .section-sub-heading {
    color: white;
    opacity: 0.6;
}

#content .tour-section .time {
    margin-top: 40px;
    font-size: 15px;
}

#content .tour-section .time-list {
    height: 40px;
    padding: 8px 16px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    line-height: 23px;
}

#content .time .name-tl {
    color: #757575;
    display: inline-block;
}

#content .time .soldout {
    display: inline-block;
    background-color: #f44336;
    margin: 0 0 0 16px;
    padding: 0 8px;
    color: white;
}

#content .tl-3 > .soldout {
    float: right;
    background-color: black;
    border-radius: 50%;
    margin: 0 16px 0 0;
}

#content .place {
    margin: 0 -16px;
    padding: 32px 8px;
}

#content .place .div-place {
    float: left;
    width: calc(100% / 3);
    margin: 0 0 16px;
    padding: 0 8px;
}

#content .div-place img {
    width: 100%;
}

#content .div-place img:hover {
    opacity: 0.6;
}

#content .place .place-time {
    background-color: white;
    font-size: 15px;
    padding: 5px 16px;
    margin-top: -4px;
}

#content .NY {
    margin: 15px 0;
    font-weight: bolder;
}

#content .p-time {
    opacity: 0.6;
    margin: 15px 0;
}

#content .description {
    margin: 15px 0;
}

#content .buy-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
    margin: 0 0 16px;
    padding: 10px 16px;
}

#content .buy-button:hover {
    color: #000;
    background-color: #ccc;
}

#content .contact-content {
    margin-top: 40px;
    position: relative;
} 

#content .pe-contact {
    width: 50%;
    position: relative;
}

#content .contact-content i {
    position: absolute;
    padding: 4px 0;
}

#content .ti-email {
    left: 2.5px;
}

#content .contact-content p {
    padding: 4px 0 4px 30px;
    font-weight: 500;
}

#content .contact-input {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

#content .contact-name {
    width: 48%;
    padding: 10px;
    border: #ccc solid 1px;
    margin-right: 10px;
    margin-bottom: 7px;
}

#content .contact-email {
    width: 48.3%;
    padding: 10px;
    border: #ccc solid 1px;
}

#content .contact-message {
    width: 100%;
    padding: 10px;
    border: #ccc solid 1px;
}

#content .contact-send {
    position: absolute;
    top: 99px;
    right: 0;
    display: inline;
    color: white;
    background-color: #000;
    padding: 10px;
}

#content .contact-send:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

#footer {
    margin-top: 80px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    padding-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    animation: modalFadeIn ease 0.7s;
}

.modal .modal-close {
    position: relative;
}

.modal .ti-close.top {
    position: absolute;
    right: 0px;
    top: 0;
    padding: 15px 15px;
    color: white;
}

.modal .ti-close.top:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.modal-header {
    background-color: #009688;
    width: 100%;
    height: 129px;
    text-align: center;
    line-height: 129px;
    color: white;
    font-size: 30px;
    letter-spacing: 4px;
}

.modal-header .ti-bag {
    margin-right: 20px;
}

.modal .modal-body {
    background-color: white;
    width: 100%;
    padding: 16px 16px;
    font-size: 15px;
}

.modal .many {
    display: block;
    width: 100%;
    border: #ccc 1px solid;
    margin: 16px 0;
    padding: 7px 9px;
}

.modal .email {
    display: block;
    width: 100%;
    border: #ccc 1px solid;
    margin: 16px 0;
    padding: 7px 9px;
}

.modal .pay {
    text-decoration: none;
    width: 100%;
    background-color: #009688;
    text-align: center;
    padding: 14px 0;
    color: white;
    margin-bottom: 30px;
}

.modal .pay:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.modal .close-bottom {
    color: white;
    background-color: red;
    display: inline-block;
    padding: 8px 14px;
}

.modal .close-bottom:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

.modal .need {
    float: right;
}

.modal .help {
    color: #2196f3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

